<header>
  <h1>Rozpoznawanie cyfry</h1>
</header>

<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm">
        <h3>Narysuj Cyferkę</h3>
          <div class="wrapper">
              <canvas drawable (newImage)="predict($event)"></canvas><br>
          </div>
          <div>
            <button class="btn btn-sm btn-warning" (click)="canvas.clear()">Wyczyść</button>
            <button class="btn btn-sm btn-warning" (click)="canvas.predictImage()">Graj!</button>
          </div>
      </div>
      <div class="col-sm">
          <h3>Predykcja to:</h3>
          <chart [data]="predictions"></chart>
      </div>
    </div>
  </div>
</main>

<footer>
  <p>Jakub Zdanowski 2019</p>
  <small>🕷<a target="_blank" href="https://github.com/INFJakZda">GitHub</a>.</small>
</footer>
<router-outlet></router-outlet>
